language: objective-c # we need to use this value even though the actual language is swift
osx_image: xcode8.3

env:

   global:
   - LANG=en_US.UTF-8

   - PROJECT="RevealingTableViewCell.xcodeproj"
   - IOS_SCHEME="RevealingTableViewCellExample"
   - IOS_SDK=iphonesimulator10.3  

   matrix:
   - DESTINATION="OS=10.0,name=iPhone SE"            SDK="$IOS_SDK" SCHEME="$IOS_SCHEME" POD_LINT="YES" # Only lint the first time
   - DESTINATION="OS=10.1,name=iPhone 6s"            SDK="$IOS_SDK" SCHEME="$IOS_SCHEME" POD_LINT="NO"
   - DESTINATION="OS=10.2,name=iPhone 7"             SDK="$IOS_SDK" SCHEME="$IOS_SCHEME" POD_LINT="NO"
   - DESTINATION="OS=10.3,name=iPad Pro (9.7 inch)"  SDK="$IOS_SDK" SCHEME="$IOS_SCHEME" POD_LINT="NO"

script:
- set -o pipefail

- if [ $POD_LINT == "YES" ]; then
      pod lib lint --quick;
  fi

- xcodebuild build analyze -project Example/RevealingTableViewCellExample.xcodeproj -scheme RevealingTableViewCellExample -sdk "$SDK" -destination "$DESTINATION" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | xcpretty -c;

notifications:
  email:
    on_success: never